<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Server Running!</title>
  </head>
  <body>
    <h1>Success!</h1>
    <p>The server is up and running now. <a href="https://markdown-text-editor-2-0.onrender.com/">Click here to go to the application.</a></p>
    <p id="username"><a href="https://github.com/SA9102">SA9102</a></p>
  </body>
</html>
