#main {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  /* Styles for the notes section */
  #notes-panel {
    background-color: #2a2a2a;
    border-top: 1px solid #222222;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #notes-panel-header {
    display: flex;
    gap: 0.2rem;
  }

  .icon-button {
    border: none;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 0.4rem;
    color: #aaaaaa;
    transition: background-color 0.1s;
  }

  #notes-tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-bottom: 0.5rem;
    margin: 0;
    gap: 0.5rem;
    overflow-x: scroll;
  }

  #notes-tabs button {
    width: 150px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .note-button {
    border: none;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: #333333;
    color: #aaaaaa;
    transition: background-color 0.1s, box-shadow 0.1s;
    text-align: left;
  }

  .note-button-selected {
    border: none;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: #404040;
    box-shadow: 0px 3px 10px -4px #1f1f1f;
    color: #aaaaaa;
    text-align: left;
  }

  /* Styles for the editor and display section */
  #editor-display-panel {
    background-color: #282828;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    word-break: break-all;
  }

  #editor-display-panel button {
    flex-shrink: 0;
  }

  #name-and-text-input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 100%;
    gap: 0.5rem;
  }

  #name,
  #text {
    border-radius: 0.4rem;
    padding: 0.7rem 0.5rem;
    border: none;
    color: #aaaaaa;
    font-family: "Courier New", Courier, monospace;
    resize: none;
  }

  #name {
    background-color: #1a1a1a;
  }

  #text {
    background-color: #222222;

    resize: none;
    height: 100%;
    flex-grow: 1;
  }

  #name-display,
  #markdown-display {
    margin: 1rem;
    color: #aaaaaa;
  }

  #name-display {
    background-color: #333333;
    margin: 0;
    padding: 1rem;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }

  /* Styling table displayed from Markdown */
  table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #aaaaaa;
    padding: 0.5rem 1rem;
  }

  #markdown-display a {
    font-weight: bold;
    color: #a94a4a;
  }

  #copyright {
    margin: 0;
    padding: 0.5rem;
    color: #aaaaaa;
    background-color: rgb(32, 32, 32);
    font-style: italic;
    font-size: 0.6rem;
    text-align: center;
  }